body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f8f9fa;
    color: #333;
  }

  
  
  main {
    max-width: 1000px;
    margin: 0px auto;
    padding: 10px 20px;
  }

  #about {
    margin: 0px 0;
    padding: 10px 0;
    text-align: left;
  }
  
  #about h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #007acc;
  }
  
  #about p {
    font-size: 18px;
    line-height: 1.8;
    max-width: 90ch;
  }
  
  

  header {
    margin: 0px auto;
    
    
  }
  
  h1 {
    color: #007acc;
  }

  nav {
    padding-left: 55px;
  }
  
  nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #007bff;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  #travel-gallery {
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  
  .gallery img {
    width: 100%;
    max-width: 300px; /* Increase this if you want even larger images */
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  
  .gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  
  
  
  .slideshow-container {
  position: relative;
  max-width: 800px;
  margin: auto;
  height: 500px;
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  transition: opacity 0.5s ease-in-out;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 10px 20px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  border: none;
  font-size: 24px;
  transform: translateY(-50%);
  border-radius: 4px;
}

.prev { left: 10px; }
.next { right: 10px; }

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
